{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="delete-project">
        <h1>Are you sure you want to delete this project?</h1>
        <form method="post">
            {% csrf_token %}
            <div class="sure-buttons">
                <button class="btn-primary btn button-long" type="submit">Yes</button>
                <a class="btn btn-primary" href="{% url 'project_details' pk=project.pk %}">Go Back</a>
            </div>
        </form>
    </div>

{% endblock %}