{% extends 'base.html' %}
{% load static %}

{% block main_content %}
    <h1>Projects List</h1>

    <form action="{% url 'create_project' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary button-long" type="submit">Create New Project</button>
        </form>

<div class="list-group">

    {% include "helpers/sort_projects.html" %}
    {% include "helpers/filter_projects.html" %}

    {% for project in projects %}

        <a href="{% url 'project_details' pk=project.pk %}" class="list-group list-group-item list-group-item-action task-item">
            <div class="task-part">{{ project.name }}</div>
            <div class="task-part">Client: {{ project.clients }}</div>
            <div class="task-part">Description: {{ project.description }}</div>
            <div class="task-part">Created At: {{ project.date_created }}</div>
        </a>

    {% endfor %}

</div>
    {% include "common/paging/pagination.html" %}
{% endblock %}