{% extends "base.html" %}

{% load static %}
{% block main_content %}
    <style>
        h1 {
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }
    </style>
    <h1>Project Detail</h1>
    <p>Title: {{ project.name }}</p>
    <p>Description: {{ project.description }}</p>
    <p>Clients: {{ project.clients }}</p>
    <a class="btn-primary btn" href="{% url 'edit_project' pk=project.pk %}">Edit</a>
    <a class="btn-primary btn" href="{% url 'delete_project' pk=project.pk %}">Delete</a>

{% endblock %}