{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <!-- Add profile picture display logic here if needed -->
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ profile.user.email }}</p>
                    <p>{{ profile.get_completed_task_count  }}</p>
                    <p>{{ profile.get_not_done_task_count  }}</p>
                </div>
                {% if profile.full_name %}
                    <h3 class="names">{{ profile.full_name }}</h3>
                {% else %}
                    <p>Full Name: </p>
                {% endif %}
                {% if profile.date_of_birth %}
                    <p>Date of Birth: {{ profile.date_of_birth }}</p>
                {% else %}
                    <p>Date of Birth: </p>
                {% endif %}
                <p class="email">Email: {{ profile.user.email }}</p>
                <p class="email">Created at: {{ profile.user.date_joined }}</p>
                {% if profile.user.pk == request.user.pk %}
                    <a href="{% url 'edit profile' pk=profile.pk %}">
                        <img class="edit-img" src="{% static 'images/edit.png' %}" alt="edit button" />
                    </a>

                    <a href="{% url 'delete profile' pk=profile.pk %}">
                        <img class="bin-img" src="{% static 'images/bin.jpg' %}" alt="bin button" />
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
