{% extends "base.html" %}
{% load static %}

{% block main_content %}
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <form action="{% url 'edit profile' pk=object.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_first_name">First Name:</label>
                {{ form.first_name }}
            </div>

            <div>
                <label for="id_last_name">Last Name:</label>
                {{ form.last_name }}
            </div>

            <div>
                <label for="id_date_of_birth">Birthday:</label>
                <input type="date" id="id_date_of_birth" name="date_of_birth" value="{{ form.date_of_birth.value }}">
            </div>

            <div>
                <label for="id_profile_picture">Profile Picture:</label>
                {{ form.profile_picture }}
            </div>


            <div>

                {% if can_edit_or_delete %}
                    <label for="id_groups">Change Group:</label>
                    <select name="groups" id="id_groups">
                        <option value="" selected disabled>Select a group</option>
                        <option value="Directors">Directors</option>
                        <option value="Managers">Managers</option>
                        <option value="Workers">Workers</option>
                    </select>
                {% endif %}
            </div>


            <br>
            <div>
                <button class="btn btn-primary button-long" type="submit">Edit</button>
            </div>
        </form>
    </div>
{% endblock %}
