<form method="GET" style="text-align: right; margin-bottom: 10px;">
    <label for="sort">Sort by:</label>
    <select name="sort" id="sort" style="vertical-align: middle;">
        <option value="clients" {% if request.GET.sort == "clients" %}selected{% endif %}>Client</option>
        <option value="name" {% if request.GET.sort == "name" %}selected{% endif %}>Name</option>
        <option value="date_created" {% if request.GET.sort == "date_created" %}selected{% endif %}>Date Created</option>
    </select>
    <button class="btn btn-primary" type="submit">Sort</button>
</form>