{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title> Tasker </title>
</head>


<body>
<div id="box">
    <header>

<br>

</header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <a class="navbar-brand main-heading">
            &nbsp; Tasker
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'details profile' pk=request.user.pk %}">Profile</a>
                    </li>
                    &nbsp; &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'register' %}">Register</a>
                    </li>
                    &nbsp; &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                &nbsp; &nbsp; &nbsp;
            </ul>
        </div>
    </nav>
    <div class="header-buttons">

    </div>
    {% block main_content %}
    {% endblock %}
    <!-- footer -->
    <footer></footer>
</div>
</body>
</html>
