.main-heading {
    text-align: center;
}

.navbar-nav {
    margin-left: auto;
}

.list-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}


.list-group2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}


.task-part span {
    text-align: left; /* Align text to the left */
}

.task-priority {
    margin-left: 10px; /* Add space between priority and other parts */
    text-align: right; /* Align priority to the right */
    display: inline-block; /* Ensure priority text wraps correctly */
}

.task-priority-wrapper {
    text-align: right;
}

.task-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Align text to the left */
    grid-template-columns: repeat(5, 1fr); /* Split into five equal parts */
    display: grid;
    text-align-last: left;
}

.task-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Align text to the left */
    grid-template-columns: repeat(5, 1fr); /* Split into five equal parts */
    display: grid;
    text-align-last: left;
}

.task-part {
    flex: 1; /* Each part takes up equal space */
    text-align: left; /* Align text to the left */
}

.priority-low {
    color: white;
}

.priority-normal {
    color: blue;
}

.priority-high {
    color: red;
}

.button-long {
    display: block; /* Change button display to block */
    width: 100%; /* Make button take the full width of its container */
    margin-bottom: 10px; /* Add space between buttons */
    text-align: center; /* Align button text to the center */
}


.edit-img,
.bin-img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 30%; /* Make the corners round */
    margin-right: 25px; /* Add space to the right of the buttons */
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 25px; /* Add space to the right of the buttons */

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 800px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f0f0f0;
    padding: 5px;
    box-sizing: border-box;
}