{% extends "base.html" %}

{% load static %}
{% block main_content %}
    <style>
        h1 {
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }
    </style>
    <h1>Task Detail</h1>
    <p class="button">Title: {{ object.title }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Project: {{ object.project }}</p>
    <p>Created by: {{ object.created_by }}</p>
    <p>Priority: {{ object.priority }}</p>
    <p>Difficulty: {{ object.difficulty }}</p>
    <p>Due Date: {{ object.due_date }}</p>
    <p>Created at: {{ object.created_at }}</p>
    <p>Assigned to:<a href="{% url "details profile" pk=object.assigned_to.pk %}"> {{ object.assigned_to }}</a></p>
    <p>State: {{ object.state }}</p>
    {% if object.state == "Completed" %}
        <p>Completed: {{ object.completed_at }}</p>
    {% endif %}
    <a class="btn-primary btn" href="{% url 'edit_task' pk=object.pk %}">Edit</a>
    <a class="btn-primary btn" href="{% url 'delete_task' pk=object.pk %}">Delete</a>
    <br>
    <br>

    {% if  object.state == "Not Done" %}

        <a class="btn-primary btn button-long" href="{% url 'complete_task' pk=object.pk %}">Complete</a>
    {% endif %}

    <br>
    <br>
    <br>


    <h4 class="list-group container">Comments</h4>
    <br>
    <ul>
        {% for comment in tasks.comments.all %}
            <li class="list-group container" for="exampleTextarea">{{ comment.comment }} - {{ comment.created_at }} - {{ comment.user.email }}</li>
        {% endfor %}
    </ul>

    <!-- Display attachments -->
{#    <h4>Attachments</h4>#}
{#    <ul>#}
{##}
{#        {% for attachment in tasks.attachments.all %}#}
{#            Test#}
{#            <li><a href="{{ attachment.file.url }}">{{ attachment.file.name }} </a> {{ attachment.created_at }} {{ attachment.user.email }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}


    <!-- Comment Form -->

    <form method="post" action="{% url 'task_details' pk=object.pk %}">
        {% csrf_token %}
        <label for="exampleTextarea" class="form-label mt-4">Comment:</label><br>
        <textarea class="form-control" id="exampleTextarea" rows="3" id="comment" name="comment" placeholder="Write your comment here..."></textarea><br>

        <button class="btn btn-primary" type="submit" name="comment_submit">Post Comment</button>
    </form>

    <br>
    <!-- Attachment Form -->
    <label for="exampleTextarea" class="form-label mt-4">Add attachment:</label><br>
    <div>
        <input class="form-control" type="file" id="formFile">
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea class="form-control" id="exampleTextarea" rows="3" id="attachment" name="attachment" placeholder="Write description if needed..."></textarea><br>
        <button type="submit" class="btn btn-primary" name="attachment_submit">Add Attachment</button>
    </form>

    <form>
        <fieldset>
            <legend>Legend</legend>
            <div class="row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail"
                           value="email@example.com">
                </div>
            </div>
            <div>
                <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div>
                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                       autocomplete="off">
            </div>
            <div>
                <label for="exampleSelect1" class="form-label mt-4">Example select</label>
                <select class="form-select" id="exampleSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                <label for="exampleSelect1" class="form-label mt-4">Example disabled select</label>
                <select class="form-select" id="exampleDisabledSelect1" disabled="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                <label for="exampleSelect2" class="form-label mt-4">Example multiple select</label>
                <select multiple="" class="form-select" id="exampleSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                <label for="exampleTextarea" class="form-label mt-4">Example textarea</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div>
                <label for="formFile" class="form-label mt-4">Default file input example</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <fieldset>
                <legend class="mt-4">Radio buttons</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1"
                           value="option1" checked="">
                    <label class="form-check-label" for="optionsRadios1">
                        Option one is this and that—be sure to include why it's great
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2"
                           value="option2">
                    <label class="form-check-label" for="optionsRadios2">
                        Option two can be something else and selecting it will deselect option one
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3"
                           value="option3" disabled="">
                    <label class="form-check-label" for="optionsRadios3">
                        Option three is disabled
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <legend class="mt-4">Checkboxes</legend>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <legend class="mt-4">Switches</legend>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                </div>
            </fieldset>
            <fieldset>
                <legend class="mt-4">Ranges</legend>
                <label for="customRange1" class="form-label">Example range</label>
                <input type="range" class="form-range" id="customRange1">
                <label for="disabledRange" class="form-label">Disabled range</label>
                <input type="range" class="form-range" id="disabledRange" disabled="">
                <label for="customRange3" class="form-label">Example range</label>
                <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

{% endblock %}

