{% extends "base.html" %}

{% load static %}
{% block main_content %}
    <style>
        h1 {
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }
    </style>
    <h1>Task Detail</h1>
    <p class="button">Title: {{ object.title }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Project: {{ object.project }}</p>
    <p>Created by: {{ object.created_by }}</p>
    <p>Priority: {{ object.priority }}</p>
    <p>Difficulty: {{ object.difficulty }}</p>
    <p>Due Date: {{ object.due_date }}</p>
    <p>Created at: {{ object.created_at }}</p>
    <p>Assigned to:
        {% for user in object.assigned_to.all %}
            <a href="{% url 'details profile' pk=user.pk %}">{{ user }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>State: {{ object.state }}</p>
    {% if object.state == "Completed" %}
        <p>Completed: {{ object.completed_at }}</p>
    {% endif %}
    <a class="btn-primary btn" href="{% url 'edit_task' pk=object.pk %}">Edit</a>
    <a class="btn-primary btn" href="{% url 'delete_task' pk=object.pk %}">Delete</a>
    <br>
    <br>

    {% if  object.state == "Not Done" %}

        <a class="btn-primary btn button-long" href="{% url 'complete_task' pk=object.pk %}">Complete</a>
    {% endif %}

    <br>
    <br>
    <br>


    <h4 class="list-group container">Comments</h4>
    <br>
    <ul>
        {% for comment in tasks.comments.all %}
            <li class="list-group container" for="exampleTextarea">{{ comment.comment }} - {{ comment.created_at }}
                - {{ comment.user.email }}</li>
        {% endfor %}
    </ul>
    <br>
    <br>

    <!-- Display attachments -->
    <h4 class="list-group container">Attachments</h4>
    <ul>

        {% for attachment in tasks.attachments.all %}
            Test
            <li>
                <a href="{{ attachment.file.url }}">{{ attachment.file.name }} </a> {{ attachment.created_at }} {{ attachment.user.email }}
            </li>
        {% endfor %}
    </ul>


    <!-- Comment Form -->

    <form method="post" action="{% url 'task_details' pk=object.pk %}">
        {% csrf_token %}
        <label for="exampleTextarea" class="form-label mt-4">Comment:</label><br>
        <textarea class="form-control" id="exampleTextarea" rows="3" id="comment" name="comment"
                  placeholder="Write your comment here..."></textarea><br>

        <button class="btn btn-primary" type="submit" name="comment_submit">Post Comment</button>
    </form>

    <br>
    <!-- Attachment Form -->
    <form method="post" action="{% url 'task_details' pk=object.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="attachment_file" class="form-label mt-4">Add attachment:</label><br>
        <input class="form-control" type="file" id="attachment_file" name="file"><br>  <!-- Update name attribute to 'file' -->
        <label for="attachment_description" class="form-label">Description:</label><br>
        <textarea class="form-control" id="attachment_description" rows="3" name="attachment_description"
                  placeholder="Enter attachment description..."></textarea><br>
        <button name="attachment_submit" type="submit" class="btn btn-primary">Add Attachment</button>
    </form>



{% endblock %}

